{% extends "site_base.html" %}

{% load i18n %}
{% load semanticui %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <div class="ui page grid">
        <div class="eight wide column">
            <form class="ui form" method="POST" action="">
                <legend>{% trans "Password reset" %}</legend>
                <p class="lead">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                {% csrf_token %}
                {{ form|semanticui }}
                <button type="submit" class="ui button blue">
                    {% trans "Reset my password" %}
                </button>
            </form>
        </div>
    </div>
    <div class="ui page grid"><p class="column">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p></div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
