{% load i18n %}
{% load account_tags %}


{% if request.user.is_authenticated %}
    <div class="item">
        <i class="fa fa-user"></i> {% user_display request.user %}
    </div>
    <div class="item">
        <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
    </div>
    <div class="item">
        <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
    </div>
{% else %}
    <div class="item">
        <a href="{% url 'account_login' %}">{% trans "Log in" %}</a>
    </div>
    {% if ACCOUNT_OPEN_SIGNUP %}
        <div class="item">
            <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
        </div>
    {% endif %}
{% endif %}


<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
